<%= form_tag "/projects", method: 'GET', id: 'projects_search' do %>
  <%=link_to image_tag('add11.png'), new_project_path %>
  <%= text_field_tag 'q', params[:q] %>
  <div style="clear: both"></div>
<% end %>

<br/><br/>

<div id="projects">
  <%= render "projects" %>
</div>