<p id="notice"><%= notice %></p>

<h1><%= link_to image_tag('edit26.png'), edit_project_path(@project) %>
<%= @project.name %></h1>

<ul id="task_list">
  <% @project.tasks.each do |task| %>
    <li>
      <%=link_to task.name, task_path(task) %>
    </li>
  <% end %>
</ul>