// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects_title {
  img { 
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  h2 { 
    float: left; 
    width: 200px; 
    margin: 0;
    font-size: 24px;
    text-transform: uppercase; 
    vertical-align: middle;
  }
  a { float: right; }

  margin-bottom: 30px;
}

#projects_search {
  margin: 0px auto;
  padding: 0px 70px;

  img {
    display: block;
    padding: 10px 20px;
    float: left;
  }

  input[type="text"] {
    float: left;
    display: block;
    width: 320px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px 10px;
  }
}

#projects {
  table {
    margin: 0px auto;
    width: 80%;
  }

  th, td {
    margin: 0;
    font-size: 20px;
    padding: 5px;
  }

  td.paging {
    text-align: right;
    padding-right: 50px;
    padding-top: 20px;
  }

  th {
    text-align: left;
    color: #fff;
    background-color: #4E5FA0;
  }

  td.actions, th.actions {
    width: 150px;
    text-align: right;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .pagination {
    padding-top: 10px;
  }
}

ul#task_list {
  list-style-type: none;
  padding-left: 0;

  li {
    margin: 10px 0;

    a {
      font-size: 20px;
    }
  }
}
